@font-face {
    font-family: 'Montserrat-Bold';
    src: url(../dars-75/fonts/Montserrat-Bold.ttf);
}

@font-face {
    font-family: 'montserrat-Regullar';
    src: url(../dars-75/fonts/Montserrat-Regular.ttf);
}

@font-face {
    font-family: 'Product-Sans-Regullar';
    src: url(../dars-75/fonts/Product-Sans-Regular.ttf);
}